*.apk
*.ap_
*.aab
*.dex

*.class
bin/
gen/
out/


# Gradle files
.gradle/
build/

local.properties

proguard/

# Log Files
*.log
.navigation/
captures/

*.iml
.idea/*
!.idea/codeStyles
.idea/modules.xml
.idea/navEditor.xml

# Version control
vcs.xml